
.main_container_center {

  h2 {

    color: #635C73;
    font-weight: 700;
    font-size: 54px;
    line-height: 54px;
    text-transform: uppercase;
    text-align: center;
    padding: 66px 0 35px 0;
  }

  p {
    align-items: center;
    font-weight: 400;
    font-size: 21px;
    line-height: 32px;
    color: #323232;
    text-align: center;
  }
}

.img_links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  padding: 14px 0 70px 0;

  a {
    display: flex;
    align-items: center;
    border: 1px solid #c2c1c1;
    border-radius: 3px;
    color: black;
    padding: 0 15px 0 0;

    .mg {
      position: relative;
      top: 0px;
      right: -6px;
    }

    span {

      background: #F4F4F4;
      border-right: 1px solid #c2c1c1;
      padding: 4px;

      b {
        padding: 0 10px 0px 5px;
        position: relative;
        top: -4px;
        right: 2px;
      }
    }
  }
}

@media (max-width: 992px) {
  .main_container_center {
    h2 {
      font-size: 42px;
      line-height: 42px;
    }


  }

}

@media (max-width: 480px) {
  .main_container_center{
     h2 {
    font-size: 26px;
    line-height: 28px;
  }
  }

  .img_links {
    display: flex;
    flex-wrap: wrap;
  }
}

